@model IEnumerable<Rugmi.Models.Image>

@{
    ViewData["Title"] = "Home Page";
    var imageCounter = 0;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.Count(); i++)
        {
            var isActive = (i == 0) ? "active" : "";
            <li data-target="#myCarousel" data-slide-to="@i" class="@isActive"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var image in Model)
            {
                var isActive = (imageCounter++ == 0) ? "active" : "";

                <div class="item @isActive">
                    <img src="~/uploads//images/@image.Url" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">

                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Add Image</h2>
            <section>
                <!--UPLOAD: Notice the forms has an enctype. that is needed so the form will send the file to the server-->
                <form asp-action="Create" asp-method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Employee Image</label>
                        <div class="col-md-10">
                            <!--UPLOAD: this is what triggers the file upload field in the form. -->
                            <input class="form-control" type="file" name="pic" accept="image/*" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </div>